@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap'); 
.container {
  display: flex;
  flex: 1;
  color: #000;
}

.menu {
    background: #F2F2F2;
    float: left;
    padding: 25px;
    padding-top: 50px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px; 
    text-align: justify;
    color: #4b4a4b; 
}


h1 {
    font-family: 'Titan One', sans-serif; 
    font-weight: 100; 
    font-size: 48px;
    color: #4b4a4b; 
}


.headshot {
    float: left;

}

.content {
  display: flex;
  flex:1;
}


h3 {
    font-family: 'Quicksand', sans-serif; 
    color:#4b4a4b; 
}

.logo {
    text-align: center; 
}

.socialmedia {
    text-align: center; 
}

.aboutme {
    padding: 50px;
}

.menu {
    width: 70%; 
}

h5 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #4b4a4b; 
}



#aboutme_01 {
    color: #FFCD2F; 
}

a:link {
    text-decoration: none; 
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

